<p>login works!</p>
<form [formGroup]='loginForm' (ngSubmit)='login(loginForm.value)'>
    <div class="mb-3 row">
        <div class="col-sm-10">
            <label>Email
                <input type="text" class="form-control" formControlName='email' placeholder=" Enter Email">
            </label>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-10">
            <label>Password
                <input type="password" class="form-control" formControlName='password' placeholder="Enter Password">
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-info">Login</button>
</form>
<h4>
    Create an Account <small class="text-muted" Style='cursor: pointer;' [routerLink]="['/signup']">Sign up</small>
</h4>