<p>login works!</p>
<form [formGroup]='loginForm' (ngSubmit)='login(loginForm.value)'>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
<h4>
    Create an Account <small class="text-muted" Style='cursor: pointer;' [routerLink]="['/signup']">Sign up</small>
</h4>